<h3> A Product Detail Page : {{product.name}} </h3>

<div class="women_main">
	<!-- start content -->
	<div class="row single">
		<div class="det">
			<div class="single_left">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<div class="flex-viewport" style="overflow: hidden; position: relative;">
							<ul class="slides" style="width: 1200%; transition-duration: 0.6s; transform: translate3d(-864px, 0px, 0px);">
                                <li *ngFor="let img of product.imgs" class="clone" aria-hidden="true" style="width: 288px; float: left; display: block;">
                                    <div class="thumb-image"> <img src="{{img}}" data-imagezoom="true" class="img-responsive" draggable="false"> </div>
                                </li>
							</ul>
						</div>
						<ul class="flex-direction-nav">
							<li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
							<li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div class="desc1 span_3_of_2">
					<h3>{{product.name}}</h3>
					<span class="brand">Brand: <a href="#">{{product.brand}} </a></span>
					<br>
					<span class="code">Product Code: {{product.code}}</span>
					<p>{{product.desc}}</p>
					<div class="price">
						<span class="text">Price:</span>
						<span class="price-new">{{product.price}}</span><span class="price-old">{{product.price}}</span>
						<span class="price-tax">부가세포함</span><br>
						<span class="points"><small>Price in reward points: 400</small></span><br>
					</div>
					<div class="det_nav1">
						<h4>Select a size :</h4>
						<div class=" sky-form col col-4">
							<ul>
								<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>L</label></li>
								<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>S</label></li>
								<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>M</label></li>
								<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>XL</label></li>
							</ul>
						</div>
					</div>
					<div class="btn_form">
						<a href="checkout.html">buy</a>
					</div>
					<a href="#"><span>login to save in wishlist </span></a>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="single-bottom1">
				<h6>Details</h6>
				<p class="prod-desc">{{product.detail}}</p>
			</div>
			<div class="single-bottom2">
				<h6>Related Products</h6>
				<div class="product" *ngFor="let item of product.related">
					<div class="product-desc">
						<div class="product-img">
							<img src="{{item.image}}" class="img-responsive " alt="">
						</div>
						<div class="prod1-desc">
							<h5><a class="product_link" [routerLink]="['/mystore/home', item.id]">{{item.name}}</a></h5>
							<p class="product_descr"> {{item.detail}} </p>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end content -->
	<div class="foot-top">

		<div class="col-md-6 s-c">
			<li>
				<div class="fooll">
					<h1>follow us on</h1>
				</div>
			</li>
			<li>
				<div class="social-ic">
					<ul>
						<li><a href="#"><i class="facebok"> </i></a></li>
						<li><a href="#"><i class="twiter"> </i></a></li>
						<li><a href="#"><i class="goog"> </i></a></li>
						<li><a href="#"><i class="be"> </i></a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
			</li>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-6 s-c">
			<div class="stay">
				<div class="stay-left">
					<form>
						<input type="text" placeholder="Enter your email" required="">
					</form>
				</div>
				<div class="btn-1">
					<form>
						<input type="submit" value="join">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>

	</div>


	<div class="footer">
		<div class="col-md-3 cust">
			<h4>CUSTOMER CARE</h4>
			<li><a href="contact.html">Help Center</a></li>
			<li><a href="faq.html">FAQ</a></li>
			<li><a href="details.html">How To Buy</a></li>
			<li><a href="checkout.html">Delivery</a></li>
		</div>
		<div class="col-md-2 abt">
			<h4>ABOUT US</h4>
			<li><a href="products.html">Our Stories</a></li>
			<li><a href="products.html">Press</a></li>
			<li><a href="faq.html">Career</a></li>
			<li><a href="contact.html">Contact</a></li>
		</div>
		<div class="col-md-2 myac">
			<h4>MY ACCOUNT</h4>
			<li><a href="register.html">Register</a></li>
			<li><a href="checkout.html">My Cart</a></li>
			<li><a href="checkout.html">Order History</a></li>
			<li><a href="details.html">Payment</a></li>
		</div>
		<div class="col-md-5 our-st">
			<div class="our-left">
				<h4>OUR STORES</h4>
			</div>

			<li><i class="add"> </i>Mark peter</li>
			<li><i class="phone"> </i>012-586987</li>
			<li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
		</div>
		<div class="clearfix"> </div>
		<p>© 2016 Gretong. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>